body {
    background-color:rgb(40, 44, 52);
}


#grid{
    position: absolute;
    background-color: rgb(36, 39, 41);
    border: 2px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}

.tile {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(255, 3, 3);  
    box-sizing: border-box !important;
    transition: 0.5s;
}

.tile:hover{
    background-color:rgb(22, 20, 20);
}
